name: Build cauth

on:  # yamllint disable-line rule:truthy
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv
          pipenv sync --dev
      - name: Test
        run: pipenv run ./test.sh
      - name: Build
        run: pipenv run python setup.py bdist_wheel
      - name: Smoke
        run: |
          pipenv install dist/cauth-_1._1._1-py3-none-any.whl
          pipenv run cauth --version
