name: Build cauth

on:  # yamllint disable-line rule:truthy
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv
          pipenv sync --dev
      - name: Version
        run: |
          version=${GITHUB_REF##*/}
          echo "${version}" | tee cauth/VERSION
      - name: Test
        run: pipenv run ./test.sh
      - name: Build
        run: |
          rm -rf dist
          pipenv run python setup.py bdist_wheel
      - name: Smoke
        run: |
          echo "${version}"
          mv dist/* dist/cauth.whl
          pipenv install dist/cauth.whl
          pipenv run cauth --version | tee version.tmp
          grep -qF "${version}" version.tmp
      # - name: Versioned build
      #   uses: pypa/gh-action-pypi-publish@master
      #   with:
      #     user: __token__
      #     password: ${{ secrets.PYPI_TOKEN }}
