name: Build cauth

on:  # yamllint disable-line rule:truthy
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv
          pipenv sync --dev
      - name: Test
        run: pipenv run ./test.sh
      - name: Build
        run: python setup.py bdist_wheel
      - name: Smoke build
        run: |
          pipenv install ./build/*.whl
          pipenv run cauth --version
