name: cauth

on:  # yamllint disable-line rule:truthy
  - push

jobs:

  # Update "requirements.txt" so we can test in multiple Python versions without
  # needing pipenv everywhere.
  update_requirements:
    # Only when pushing to a development branch. Release tags and pulls into the
    # main branch should have an up-to-date "requirements.txt" already.
    if: github.event_name == 'push' &&
        startsWith(github.ref, 'refs/heads') &&
        github.ref != 'refs/heads/main'

    name: Update requirements.txt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Freeze requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv
          pipenv lock --dev --requirements > requirements.txt

      - name: Archive requirements.txt
        uses: actions/upload-artifact@v2
        with:
          name: requirements
          path: requirements.txt
          retention-days: 1

  lint:
    name: Lint
    needs: update_requirements
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Download requirements.txt
        uses: actions/download-artifact@v2
        with:
          name: requirements

      - name: Install
        run: pip install -r requirements.txt

      - name: Lint
        run: ./lint.sh

  unit_test:
    name: Unit test (Python ${{ matrix.python-version }})
    needs: update_requirements
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download requirements.txt
        uses: actions/download-artifact@v2
        with:
          name: requirements

      - name: Install
        run: pip install -r requirements.txt

      - name: Test
        run: ./test.sh

  build:
    name: Build
    needs: update_requirements
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Download requirements.txt
        uses: actions/download-artifact@v2
        with:
          name: requirements

      - name: Install
        run: pip install -r requirements.txt

      - name: Version
        run: echo "${GITHUB_REF##*/}" > cauth/VERSION

      - name: Build
        run: rm -rf dist && python setup.py bdist_wheel

      - name: Archive distributable
        uses: actions/upload-artifact@v2
        with:
          name: distributable
          path: dist
          retention-days: 1

  cli_test:
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
    name: CLI test (Python ${{ matrix.python-version }})
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download build distributable
        uses: actions/download-artifact@v2
        with:
          name: distributable

      - name: CLI test
        run: |
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          export PYTHON_VERSION="${{ matrix.python-version }}"

          cd testing/sample_project

          cp Pipfile.template Pipfile
          echo "python_version = \"${PYTHON_VERSION:?}\"" >> Pipfile

          pip install --upgrade pip
          pip install pipenv
          cat Pipfile

          set +e
          pipenv run python -m tupper
          returned=$?
          set -e
          if [[ "${returned}" != "1" ]]; then
            echo "Expected tupper execution to fail gracefully: ${returned}"
            exit 1
          fi

          pipenv install "$(ls *.whl)"

          pipenv run cauth --version | tee version.tmp
          grep -qF "${GITHUB_REF##*/}" version.tmp

          pipenv run cauth pipenv install

          pipenv run python -m tupper

  publish:
    # Publish only when tagging.
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    name: Publish to pypi.org
    needs: cli_test
    runs-on: ubuntu-latest
    steps:
      - name: Publish
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
